<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>centerImageName</key>
		<string>ic_center_no</string>
		<key>normalImageName</key>
		<string>ic_normal_no</string>
		<key>selectImageName</key>
		<string>ic_selected_no</string>
		<key>title</key>
		<string>ZXSNoMode</string>
	</dict>
	<dict>
		<key>centerImageName</key>
		<string>ic_center_ec</string>
		<key>normalImageName</key>
		<string>ic_normal_ec</string>
		<key>selectImageName</key>
		<string>ic_selected_ec</string>
		<key>title</key>
		<string>ZXSEconMode</string>
	</dict>
	<dict>
		<key>centerImageName</key>
		<string>ic_center_s</string>
		<key>normalImageName</key>
		<string>ic_normal_s</string>
		<key>selectImageName</key>
		<string>ic_selected_s</string>
		<key>title</key>
		<string>ZXSSportMode</string>
	</dict>
	<dict>
		<key>centerImageName</key>
		<string>ic_center_s+</string>
		<key>normalImageName</key>
		<string>ic_normal_s+</string>
		<key>selectImageName</key>
		<string>ic_selected_s+</string>
		<key>title</key>
		<string>ZXSSuperSportMode</string>
	</dict>
	<dict>
		<key>centerImageName</key>
		<string>ic_center_r</string>
		<key>normalImageName</key>
		<string>ic_normal_r</string>
		<key>selectImageName</key>
		<string>ic_selected_r</string>
		<key>title</key>
		<string>ZXSRaceMode</string>
	</dict>
	<dict>
		<key>centerImageName</key>
		<string>ic_center_ac</string>
		<key>normalImageName</key>
		<string>ic_normal_ac</string>
		<key>selectImageName</key>
		<string>ic_selected_ac</string>
		<key>title</key>
		<string>ZXSIautoMode</string>
	</dict>
	<dict>
		<key>centerImageName</key>
		<string>ic_center_va</string>
		<key>normalImageName</key>
		<string>ic_normal_va</string>
		<key>selectImageName</key>
		<string>ic_selected_va</string>
		<key>title</key>
		<string>ZXSValetMode</string>
	</dict>
	<dict>
		<key>centerImageName</key>
		<string>ic_center_dr</string>
		<key>normalImageName</key>
		<string>ic_normal_dr</string>
		<key>selectImageName</key>
		<string>ic_selected_dr</string>
		<key>title</key>
		<string>ZXSDragMode</string>
	</dict>
	<dict>
		<key>centerImageName</key>
		<string>ic_center_as</string>
		<key>normalImageName</key>
		<string>ic_normal_as</string>
		<key>selectImageName</key>
		<string>ic_selected_as</string>
		<key>title</key>
		<string>ZXSAntiSlipMode</string>
	</dict>
</array>
</plist>
